<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-5 copyright">
        <span class="copyright-heading">
          <%= t('footer.copyright_heading') %>
        </span>
        <span class="copyright-text">
          <%= t('footer.copyright_text') %>
        </span>
    </div>
      <div class="col-xs-6 col-md-3 col-md-offset-1 partners">
        <span class="partner-heading">
          <%= t('footer.partnership_heading') %>
        </span>
        <span class="stanford">
          <a href="https://library.stanford.edu/">
            <%= image_tag("StanfordLibraries-logo-whitetext.svg", height: "25", alt: "") %>
          </a>
        </span>
      </div>
      <div class="col-xs-6 col-md-3 partners">
        <span class="partner-heading">
          <%= t('footer.project_support_heading') %>
        </span>
        <span class="mellon">
          <a href="https://mellon.org/">
            <span class="mellon-text">
              <%= t('footer.project_support_text') %>
            </span>
            <%= image_tag("mellon-logo-home-white.png", class: "mellon-logo", height: "55", alt: "") %>
          </a>
        </span>
      </div>
    </div>
  </div>
</footer>
