<div class="sidebar home-page-column">
  <h2 class="nav-heading">More information</h2>
  <ul class="nav sidenav">
    <li>
      <%= link_to "Project background", "#" %>
    </li>
    <li>
      <%= link_to "Project staff", "#" %>
    </li>
    <li>
      <%= link_to "Vatican library", "https://www.vaticanlibrary.va" %>
    </li>
    <li>
      <%= link_to "DigiVatLib", "https://digi.vatlib.it" %>
    </li>
    <li>
      <%= link_to "Online catalog", "https://digi.vatlib.it/opac/mss" %>
    </li>
  </ul>

  <% # Below a direct copy from https://github.com/projectblacklight/spotlight/blob/v2.1.0/app/views/shared/_site_sidebar.html.erb %>
  <% if can?(:manage, Spotlight::Site.instance) || can?(:create, Spotlight::Exhibit) %>
  <h2 class="nav-heading"><%=t(:'.header') %></h2>
  <ul class="nav sidenav">
    <li><%= link_to t('.documentation'), 'https://github.com/projectblacklight/spotlight/wiki/Configuration-settings' %></li>

    <% if can? :manage, Spotlight::Site.instance %>
      <li><%= link_to t(:'spotlight.sites.edit.page_title'), spotlight.edit_site_path %></li>
    <% end %>

    <% if can? :manange, Spotlight::Exhibit %>
      <li><%= link_to t(:'spotlight.sites.edit_exhibits.page_title'), spotlight.edit_site_exhibits_path %></li>
      <li><%= link_to t(:'spotlight.admin_users.index.page_title'), spotlight.admin_users_path %></li>
    <% end %>
  </ul>

  <ul class="nav sidenav nav-pills nav-stacked">
    <li><%= link_to t(:'spotlight.sites.new.page_title'), spotlight.new_exhibit_path, class: 'btn btn-default btn-nav', role: 'button' if can? :create, Spotlight::Exhibit %></li>
  </ul>
  <% end %>
</div>
