<% show_presenter = presenter(document) %>
<div class="part-header">
  <h3><%= show_presenter.field_value('ms_locus_tesim') %></h3>
  <p>
    <span class="part-author"><%= show_presenter.field_value('ms_author_tesim') %></span>
    <% if document['ms_author_date_tesim'].present? %>
      <span class="part-author-date"><%= show_presenter.field_value('ms_author_date_tesim') %>.</span>
    <% end %>
    <span class="part-supplied-title"><%= show_presenter.field_value('ms_supplied_title_tesim') %></span>
    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#part-show-<%= document.first('ms_locus_tesim').parameterize %>" aria-expanded="false" aria-controls="part-show-<%= document.first('ms_locus_tesim').parameterize %>">
      <span class="area-not-collapsed">
        <%= t('.hide_details') %>
      </span>
      <span class="area-collapsed">
        <%= t('.view_details') %>
      </span>
    </button>
  </p>
</div>
